.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}
  
::ng-deep .mat-mdc-select-trigger {
  text-align: center;
}

.mat-icon-button{
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s ease-in-out; 
}

a:hover {
  color: blue;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  background-color: #E0E2EC;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-select {
  overflow: visible;
}

.example-header mat-form-field {
  width: 100% !important;
}